<nav>
	<ul class="navbar">
		<li class="menu"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Lista</a></li>
		<li class="menu"><a class="<%= path === '/add' ? 'active' : '' %>" href="/add">Új film</a></li>
		<!-- <li class="menu"><a class="<%= path === '/list' ? 'active' : '' %>" href="/list">List</a></li> -->
		<!-- <li class="menu"><a class="<%= path === '/search' ? 'active' : '' %>" href="/search">Search</a></li> -->
		<!-- <li class="menu"><a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a></li> -->
		<!--li class="li-input-search"><input class="input-search" type="text" name="search" placeholder="Mit keressek?"></li-->
		<li><a href="#" class="btn-tmdb-search">TMDB keresés!</a></li>
	</ul>
</nav>