<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>

    <div class="wrapper">
        <h1><%= greeting %></h1>

        <div class="sorting">
            <h3>Filmek száma: <%= movies.length %></h3>
            <h3>rendezés:</h3>
            <a href="/?sort=title" class="<%= sortOrder === 'title' ? 'sort-active' : '' %>">cím</a>
            <a href="/?sort=titleEng" class="<%= sortOrder === 'titleEng' ? 'sort-active' : '' %>">angol cím</a>
            <a href="/?sort=year" class="<%= sortOrder === 'year' ? 'sort-active' : '' %>">évszám</a>
            <!-- <a href="/?sort=status" class="<%= sortOrder === 'status' ? 'sort-active' : '' %>">kategória</a> -->
            <div class="sort-status">
                <a href="/?sort=statusWanted" class="<%= sortOrder === 'statusWanted' ? 'sort-active' : '' %>">kell</a>
                <a href="/?sort=statusDownloaded" class="<%= sortOrder === 'statusDownloaded' ? 'sort-active' : '' %>">letöltve</a>
                <a href="/?sort=statusSeen" class="<%= sortOrder === 'statusSeen' ? 'sort-active' : '' %>">megnézve</a>
            </div>
        </div>

        <% if (movies.length === 0) { %>
            <h2>Nincs ilyen film.</h2>
        <% } else { %>
            <ul>
            <% for (let movie of movies) { %>
                <li>cím: <%= movie.title %></li>
                <li>angol cím: <%= movie.titleEng %></li>
                <li>év: <%= movie.year %></li>
                <li>status: <%= movie.status %></li>
                <li>id: <%= movie.id %></li>
                <br>
            <% } %>
            </ul>
        <% } %>
    </div>
</body>
</html>